$scanLineWidth: 2px;

.container {
  background-color: #ef5350;
  border-radius: 12px;
  margin: 2vh;
  padding: 48px 16px 16px 16px;
  width: fit-content;
  height: fit-content;
  max-width: 500px;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3em;
  text-align: center;
  padding: 8px;
  color: white;
}

.list-container {
  background-color: #e53935;
  padding: 16px 4px 16px 4px;
  border-radius: 12px;
  display: flex;
  width: fit-content;
  height: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-size: 100% $scanLineWidth * 2;
  /*** WEBKIT ***/
  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth * 2
  );
  -webkit-background-size: 100% $scanLineWidth * 2;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth * 2
  );
  -moz-background-size: 100% $scanLineWidth * 2;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: #e53935;
  border-color: white;
  color: white;
  font-size: 4em;
  font-style: bold;
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e53935;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
