.entry {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 24px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin: 1px;
  padding: 2px 8px 2px 8px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.id {
  width: 65px;
  padding-left: 5px;
}

.id > span {
  font-family: monospace;
  font-size: 16px;
}

.name {
  margin-left: 5px;
  width: 100px;
  text-transform: capitalize;
}

.pokeball-container {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}

.pokeball-container > img {
  height: inherit;
  display: block;
}

.selected {
  background-color: #c62828;
  border-radius: 8px;
  box-shadow: 2px 2px #b71c1c;
}
