/* You can add global styles to this file, and also import other style files */
body,
html {
  padding: 0;
  margin: 0;
  font-family: PokeGBA, "sans-serif";
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PokeGBA";
  src: url("./assets/fonts/poke_gba.woff");
}

$scanLineWidth: 5px;

body {
  background-color: #e53935;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-size: 100% $scanLineWidth * 2;
  /*** WEBKIT ***/
  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth * 2
  );
  -webkit-background-size: 100% $scanLineWidth * 2;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth * 2
  );
  -moz-background-size: 100% $scanLineWidth * 2;
}

/* Scrollbar */

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
