/* You can add global styles to this file, and also import other style files */
body,
html {
  padding: 0;
  margin: 2vh;
  font-family: PokeGBA, "sans-serif";
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PokeGBA";
  src: url("./assets/fonts/poke_gba.woff");
}

$scanLineWidth: 5px;

body {
  background-color: #e53935;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-size: 100% $scanLineWidth * 2;
  /*** WEBKIT ***/
  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth * 2
  );
  -webkit-background-size: 100% $scanLineWidth * 2;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth,
    rgba(0, 0, 0, 0.25) $scanLineWidth * 2
  );
  -moz-background-size: 100% $scanLineWidth * 2;
  margin: auto;
}

/* Scrollbar */

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.types {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 24px;
}

.types > li {
  text-align: center;
  margin: 1px;
  padding: 5px;
  min-width: 85px;
  max-width: 85px;
  padding-left: 8px;
  text-shadow: 2px 0px #807870;
  border-radius: 8px;
}

.bug {
  background-color: #a8b820;
  border-top: 2px solid #a8b820;
  border-bottom: 2px solid #789010;
}

.dark {
  background-color: #789010;
  border-top: 2px solid #a8a878;
  border-top: 2px solid #484038;
}

.dragon {
  background-color: #7038f8;
  border-top: 2px solid #b8a0f8;
  border-bottom: 2px solid #483890;
}

.electric {
  background-color: #f8d030;
  border-top: 2px solid #f8f878;
  border-top: 2px solid #b8a038;
}

.fairy {
  background-color: #f8a0e0;
  border-top: 2px solid #f8c8f0;
  border-bottom: 2px solid #b06880;
}

.fighting {
  background-color: #903028;
  border-top: 2px solid #f05030;
  border-bottom: 2px solid #484038;
}

.fire {
  background-color: #f05030;
  border-top: 2px solid #f8d030;
  border-bottom: 2px solid #903028;
}

.flying {
  background-color: #a890f0;
  border-top: 2px solid #c8c0f8;
  border-top: 2px solid #705898;
}

.ghost {
  background-color: #705898;
  border-top: 2px solid #a890f0;
  border-bottom: 2px solid #483850;
}

.grass {
  background-color: #78c850;
  border-top: 2px solid #c0f860;
  border-bottom: 2px solid #588040;
}

.ground {
  background-color: #e0c068;
  border-top: 2px solid #f8f878;
  border-bottom: 2px solid #886830;
}

.ice {
  background-color: #98d8d8;
  border-top: 2px solid #d0f8e8;
  border-bottom: 2px solid #9090a0;
}

.normal {
  background-color: #d8d8c0;
  border-top: 2px solid #f05030;
  border-bottom: 2px solid #705848;
}

.poison {
  background-color: #a040a0;
  border-top: 2px solid #d880b8;
  border-bottom: 2px solid #483850;
}

.psychic {
  background-color: #f85888;
  border-top: 2px solid #f8c0b0;
  border-bottom: 2px solid #906060;
}

.rock {
  background-color: #b8a038;
  border-top: 2px solid #e0c068;
  border-bottom: 2px solid #886830;
}

.steel {
  background-color: #b8b8d0;
  border-top: 2px solid #d8d8c0;
  border-bottom: 2px solid #807870;
}

.water {
  background-color: #6890f0;
  border-top: 2px solid #98d8d8;
  border-bottom: 2px solid #807870;
}
